body,
p,
.sub-header,
.kon,
nav {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
}
/* 
animaciones de photocard
 */
.holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.holder .photocard {
    margin-right: 2rem;
    transition: 300ms ease-out;
}

.holder .photocard:hover {
    margin-right: 30px;
    margin-left: 10px;
    transition: 300ms ease-out;
}

.photocard {
    max-width: 10%;
    max-height: 15%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.0);
    transition: transform 300ms ease-out;

}

.photocard img {
    width: 100%;
    height: 100%;
    opacity: 100%;
    object-fit: scale-down;
    transform: scale(1.0);
    transition: transform 300ms ease-out;
    transition: opacity 300ms ease out;
}

.photocard img:hover {
    transform: scale(1.15);
    transition: transform 300ms ease-out;

}

.photocard img:active {
    opacity: 60%;
    transform: scale(1);
    transition: transform 300ms ease-out;
    transition: opacity 300ms ease;
}

.photocard:hover {
    transform: scale(1.15);
    transition: transform 300ms ease-out;
}

.photocard:active {
    transform: scale(1.15);
    transition: transform 300ms ease;
    transition: opacity 300ms ease, background-color 1s ease;
}


.shinigami-container-style .photocard:active {
    background-color: #811e00ec;
    color: rgb(255, 255, 255);
    font-style: bold;
    margin-top: 6rem;
}

.quincy-container-style .photocard:active {
    background-color: rgba(88, 177, 177, 0.61);
    color: rgb(255, 255, 255);
    font-style: bold;
    margin-top: 6rem;
}

.espada-container-style .photocard:active {
    background-color: rgba(178, 186, 190, 0.76);
    color: rgb(6, 39, 15);
    font-style: bold;
    margin-bottom: 6rem;
}

.espada-container-style .photocard p {
    margin-bottom: 2rem;
}

.photocard p {
    opacity: 0%;
    transition: opacity 300ms ease out;
    content-visibility: hidden;
}

.photocard:active p {

    content-visibility: visible;
    justify-content: center;
    overflow-wrap: normal;
    word-break: break-word;
    opacity: 100%;
    transition: opacity 300ms ease;
    transform: scale(1.05);
    transition: transform 300ms ease-out;

    transition-duration: 1.25s;

}


/*
*/

.quincy-container-style article {
    width: 100vw;
}

.inner-nav {
    text-align: center;
    background-color: rgba(58, 10, 10, 0.7);
    padding: 2vh;
    opacity: .8;
}

input {
    margin: 0.5vh;
    padding: 0.5vh;
    border-radius: 10px;
    color: rgb(48, 2, 0)
}

footer-style {
    color: rgba(255, 125, 90, 0.789)
}

h1 {
    font-weight: bold;
}

h3 {
    font-style: italic;
}

.rukia {
    width: 15%;
}

.header-style {
    background-color: transparent;
    padding: 30px 100px;
    text-align: center;
    font-size: large;
    font-family: 'Cinzel', serif;
    border-radius: 10px;

}

.text-over-bg {
    background-color: rgba(36, 2, 2, 0.7);
    padding: 2vh;
    border-radius: 10px;
    opacity: 0.8;
    text-align: center;
}

.body-background {
    background-image: url('https://w.wallhaven.cc/full/4o/wallhaven-4o511l.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.body-style {
    color: white;
    font-family: 'playfair display', serif;
}

.section {
    background-color: rgb(26, 0, 0);
}

.sub-header {
    background-color: rgba(87, 90, 92, 0.7);
    text-align: center;
    font-size: large;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
}

.form {
    padding: 2vh;
    border-radius: 10px;
    flex-direction: column;
}

.container {
    background-color: rgba(56, 2, 2, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .photocard {
        font-size: .5rem;
    }
}

.highlight {
    color: rgb(198, 205, 255);
    font-weight: bold;
    font-style: italic;
}

.espada-container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to bottom, rgb(26, 0, 0), transparent),
        linear-gradient(to top, rgb(26, 0, 0), transparent),
        url('../IMG/espadas1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: transform 300ms ease-out;

}

.shinigami-container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to bottom, rgb(26, 0, 0), transparent),
        linear-gradient(to top, rgb(26, 0, 0), transparent),
        url('../IMG/gotei\ 13.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: transform 300ms ease-out;
}

.quincy-container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to bottom, rgb(26, 0, 0), transparent),
        linear-gradient(to top, rgb(26, 0, 0), transparent),
        url('../IMG/wandereich.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: transform 5000ms ease-out;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(252, 56, 56);
    text-transform: uppercase;

    transition-duration: 2s ease-out;
}

.hiper-style {
    background-color: rgba(58, 10, 10, 0.7);
    padding: 2vh;
    border-radius: 10px;
    margin: 3vh;
    transform: scale(1.0);
    transition: transform 300ms ease;
}

.hiper-style:hover {
    color: rgb(255, 138, 138);
    background-color: rgb(27, 26, 26);
    transform: scale(1.15);
    transition: transform 300ms ease-out;
}

.image-hover {
    transform: scale(1.0);
    transition: transform 300ms ease-out;
}

.image-hover:hover {
    transform: scale(1.15);
    transition: transform 300ms ease-out;
}

.dynamic-image {
    width: 15%;
    height: auto;

}

.kon {
    width: 2rem;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

inner-image {
    width: 10%;
}

ul {
    text-align: left;
}