body, p, .sub-header,.kon, nav{
    padding: 0;
    margin: 0;
}
.inner-nav {
    text-align: center;
    background-color: rgba(58, 10, 10, 0.7);

    padding:2vh ;
    opacity: .8;
}

.header-style {
    background-color: transparent;
    padding: 30px 100px;
    text-align: center;
    font-size: large;
    font-family: 'Cinzel', serif;
    border-radius: 10px;

}
.text-over-bg {
    background-color: rgba(36, 2, 2, 0.7);
    padding: 2vh;
    border-radius: 10px;
    opacity: 0.675;
    text-align: center;
}
.body-background {
    background-image: url('https://w.wallhaven.cc/full/4o/wallhaven-4o511l.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.body-style {
    color: white;
    font-family: 'playfair display', serif;
}
.section {
    background-color: rgb(26, 0, 0);
}
.sub-header{
    background-color: rgba(87, 90, 92, 0.7);
    text-align: center;
    font-size: large;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
}

.form {

    background-size: cover;
    padding: 2vh;
    border-radius: 10px;
    flex-direction:column;
}
.container{
    background-image: url('');
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.espada-container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(to bottom, rgb(26, 0, 0), transparent), 
    linear-gradient(to top, rgb(26, 0, 0),transparent),
    url('../IMG/espada.png');
    background-size: cover;
    height: 100vh;
}
.shinigami-container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(to bottom, rgb(26, 0, 0), transparent), 
    linear-gradient(to top, rgb(26, 0, 0),transparent),
    url('../IMG/gotei\ 13.jpg');
    background-size: cover;
    height: 100vh;
}
.quincy-container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(to bottom, rgb(26, 0, 0), transparent), 
    linear-gradient(to top, rgb(26, 0, 0),transparent),
    url('../IMG/wandereich.png');
    background-size: cover;
    height: 100vh;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(252, 56, 56);
    text-transform: uppercase;
    text-decoration: dashed;
}

.hiper-style {
    background-color: rgba(58, 10, 10, 0.7);;
    padding: 2vh;
    border-radius: 10px;
    margin: 3vh;
}

.hiper-style:hover {
    color : rgb(255, 138, 138);
    background-color: rgb(27, 26, 26);
    transform: scale(1.15);
    transition: transform 300ms ease-out;
}

.image-hover {
    transform: scale(1.0);
    transition: transform 300ms ease-out;
}

.image-hover:hover {
    transform: scale(1.15);
    transition: transform 300ms ease-out;
}
.dynamic-image{
    width: 25%;
    height: auto;
    
}
.kon{
width: 3%;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
bottom: 1%;
right: 1%;

}